{% extends 'partials/base.html' %}

{% block title %}Product Delete Page{% endblock %}


{% block content %}


<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h3>Delete Item</h3>
            <hr>
            <form method="POST">
                    <h4>Edit Items?</h4>
                {% csrf_token %}
                {{ form }}
                <a class="btn btn-secondary btn-sm" href="{% url 'dashboard-product' %}">Cancel</a>
                <input class="btn btn-info btn-sm" type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}